<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <article class="cont">

			<h2>Пересчет из градов (гонов) в градусы, минуты, секунды и обратно.</h2>
			<h4> Что такое град (гон)? </h4>
			<p> Град, он же в некоторых странах гон, является единицей измерения плоских углов. А еще его обзывают метрической угловой единицей.
			Происходит из Франции. Когда-то, там один умник решил, что прямой угол должен состоять из 100 градов.
			(Хотя у всех нормальных людей 100 градусов это температура кипения воды при нормальном давлении).
			Еще существуют, связанные с градом, метрические минуты и метрические секунды.
			В одном граде 100 метричских минут или, по другому сантиминут (в общем какихто сантиментов), а в одной минуте 100 метрических секунд.
			Фактически мы имеем обычную дисятичную дробь и значение угла, например, может быть записанно в виде: 52,1545, где перед запятой находятся грады (52),
			две цифры сразу после запятой - метрические минуты (15), а третья и четвертая цфры после запятой - метрические секунды (45).</p>
			<h4>Соотношение градов и градусов.</h4>
			<p> Исходя из определения, что прямой угол равен 100 градов, имеем соотншение 100 градов = 90 градусов т.е. 1 град = 0,9 градуса или 54 минуты. </p>
			<h4> Пересчет </h4>
			<table>
			<caption>Из градов (гонов) в градусы, минуты, секунды</caption>
				<tr>
					<td>Вводим грады</td><td>запускам пересчет</td><td>получаем градусы</td><td>минуты</td><td>секунды</td>
				</tr>
				<tr>
					<td></td><td></td><td></td><td></td><td></td>
				</tr>
			</table>

				<form action = "" method="POST">
					<p>Введите грады<input type="text" name="Gon" required pattern="\d+(\.\d{1,)?" placeholder="0.00"></input>
					<input type="submit" value="Пересчитать"></input></p>
					<p>Получаем:</p>
                    <p>градусы = {{ grad }}</p>
					<p>минуты = {{ min }}</p>
					<p>секунды = {{ sec }}</p>
				</form>
		</article>
{% endblock %}